<div class="wrapper">
    <nav class="navigation-bar">
            <img class="logo" src="./assets/logo.jpg">
            <a href="#">Home</a>
            <a>-</a>
            <a href="#">Shop</a>
            <a>-</a>
            <a href="#">About</a>
            <a>-</a>
            <a href="#">Get in Touch</a>
          <nav class="navigation-bar-right">
            <a href="#"><span class="material-icons">
              search
              </span></a>
            <a>-</a>
            <a href="#">Bag</a>
          </nav>
  </nav>
