<div id="carouselExampleControls" class="carousel-slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
        <img src="{{ getSlide() }}" alt="slide" >
        <button class="carousel_button_previous"(click)='getPrev()'><span class="material-icons">
            keyboard_arrow_left
            </span></button>

        <button class="carousel_button_next"(click)='getNext()'><span class="material-icons">
            keyboard_arrow_right
            </span></button>
    </div>

  
  </div>